<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Vimeo Suite">

    <test name="All Tests">

        <classes>
            <class name="tests.SearchTests"/>
            <class name="tests.NavigationTests"/>
            <class name="tests.UIElementsTests"/>
            <class name="tests.VideoPlaybackTests"/>
            <class name="tests.LoginTests"/>
            <class name="tests.FooterTests"/>
            <class name="tests.ProfileTests"/>
            <class name="tests.WatchPageTests"/>
        </classes>

    </test>

</suite>